<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dell_pc.e_services">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".getservice">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.getservice"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".postservice">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.postservice"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Search_City">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Search_City"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Search_Occupation">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Search_Occupation"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Search_GPS">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Search_GPS"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".city_taxila">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.city_taxila"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".city_wah">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.city_wah"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Carpenter">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.viewall"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Plumber">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Plumber"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Driver">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Driver"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Electrician">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Electrician"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Painter">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Painter"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Carmechanic">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Carmechanic"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Gardener">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Gardener"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Contractor">
            <intent-filter>
                <action android:name="com.example.dell_pc.e_services.Contractor"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>